<p><strong>Olá <%= @changeset.user.name.presence %></strong></p>

<p>Obrigado novamente por submeter uma feed no Registo de Feeds! A sua feed foi examinada e pode agrora encontrá-la nas listagens do <a href="https://tpp.pt/registo-de-feeds/">Registo de Feeds</a>.</p>

<p>Estamos agora a iniciar o processo de importação para o Banco de Dados TPP. Isto tornará disponíveis as paragens, rotas e horários que a feed contenha. Este processo poderá demorar mais umas horas ou até dias. Se ocorrer algum problema durante a importação, entraremos em contacto consigo.</p>

<p>São contribuições como a sua, de membros da comunidade, que nos ajudam a construir o TPP. Se souber de outras feeds, por favor, submeta-as também!</p>

<p>Se tiver alguma questão, pode contactar a equipa TPP em <a href="mailto:api@tpp.pt">api@tpp.pt</a>.</p>
