<p><strong>Hello <%= @changeset.user.name.presence %></strong></p>

<p>Thank you again for submitting a feed to the TPP Feed Registry! Your feed has been reviewed, and you can now find it in <a href="https://tpp.pt/feed-registry/">the listings</a>.</p>

<p>We're starting to import the feed into the TPP Datastore. This will make available the stops, routes, and schedule data that are contained in the feed. This import process may take a few more hours or days. If we run into any problems along the way, we'll be in touch.</p>

<p>Contributions from community members like you help us build TPP. If you know of other feeds, please submit them, too!</p>

<p>If you have any questions, you can contact the TPP team at <a href="mailto:api@tpp.pt">api@tpp.pt</a>.</p>
